/*    css by YoMi-Typecho-V2(Weic), website:http://weic96.cn/project/yomi-typecho-v2   */
*{
	padding: 0;
	margin: 0;
	outline:0;			/*点击按钮后不会有虚线边框*/
    font-family: "Microsoft YaHei", Verdana, sans-serif, "SimSun";
}

body{
	/*background-color: #eaeaea;*/
	/*background-color: #f5f5f5;*/
	background: url(../images/body_bg.png);
	font-family: "Microsoft YaHei", Verdana, sans-serif, "SimSun";
}
a, i{
	text-decoration: none;
	color: #255;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
hr{
	margin: 0;
	padding: 0;
}
.clear{ 
	height:0px;
	font-size:0;
	clear:both;
}
.cursor{
	cursor:pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}
#instantclick-bar {   
        background: red;   
}  
#mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 98;
	display: none;
}
/*动画*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated6s {
  animation-duration: .6s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut{
  animation-duration: .75s;
}
/*fadeIn*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
/*fadeInDown*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
/*flipInX*/
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}
/**/
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}
/*pulse*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.pulse {
  animation-name: pulse;
}
/*shake*/
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
  }
}
.shake {
  animation-name: shake;
}
/*rubberBand*/
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  animation-name: rubberBand;
}
/*bounceInDown*/
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
/*bounceInRight*/
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}
.bounceInRight {
  animation-name: bounceInRight;
}

/*主样式开始*/
/*右侧浮动内容*/
#weixin,
#commenting,
#top{
	z-index: 96;
	display: inline-block;
	background-color: #fff;
	position: fixed;
	right: 80px;
	font-size: 26px;
	color: #F98D89;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);
	-ms-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);
	-o-box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);
}
#weixin{
	bottom: 270px;
	font-size: 26px;
	padding: 9px 7px;
}
#weixin-img{
    z-index: 96;
    width: 150px;
    height: 150px;
	display: none;
	background-color: #fff;
	position: fixed;
	right: 130px;
    bottom: 220px;
	padding: 5px;
    overflow: hidden;
	border-radius: 4px;
}
#weixin-img>img{
    height: 100%;
    width: 100%;
}
#commenting{
	bottom: 205px;
}
#top{
	display: none;
	bottom: 140px;
}
#weixin:hover,
#commenting:hover,
#top:hover{
	color: #80c9ec;
	background-size: 40px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
/*页面头部*/
#header{
	width: 100%;
	position: fixed;
	z-index: 96;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	/*padding: 10px;*/
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
}
.header-cross{
	margin: 0 50px;
	padding: 0;
}
.cross-title{
	float: left;
}
.cross-title>a{
	font-size: 22px;
	line-height: 63px;
	color: #F07878;
	text-shadow: 2px 2px 2px rgba(255, 57, 57,.5);
}
.cross-title>a:hover{
	color: #58a3da;
}
.cross-bar{
	float: right;
}
.cross-bar>.header-icon{
	margin-left: 6px;
	color: #407272;
	padding: 5px;
	font-size: 18px;
	font-weight: normal;
	line-height: 60px
}
#header-vertical{
	z-index: 99;
	width: 280px;
	position: fixed;
	top: 0;
	left: -400px;
	bottom: 0;
	background: url(../images/body_bg.png);
	-webkit-transition: left .4s ease;
	-moz-transition: left .4s ease;
	-ms-transition: left .4s ease;
	-o-transition: left .4s ease;
	box-shadow: 0 3px 6px 8px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 6px 8px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 6px 8px rgba(0,0,0,.2);
	-ms-box-shadow: 0 3px 6px 8px rgba(0,0,0,.2);
	-o-box-shadow: 0 3px 6px 8px rgba(0,0,0,.2);
}
#header-vertical .vertical-header{
	width: 100%;
	background: rgba(0,0,0,.5);
}
#vertical-close{
	float: right;
	padding: 8px;
	margin: 0px;
	font-size: 20px;
	color: #fff;
}
.vertical-header .vertical-header-logo{
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 10px auto;
	margin-top: 0;
	border-radius: 100%;
	border: 2px solid #F57979;
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 1px 1px 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 1px 1px 1px 2px rgba(0,0,0,.2);
}
.vertical-header-logo>img{
	width: 100%;
	height: 100%;
}
/*
.vertical-header-logo>img:hover{
	animation:circle .6s 1 ease;
}
@keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
*/
.vertical-header .vertical-icon{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 5px 0;
}
.vertical-icon>a{
	padding: 5px;
	font-size: 20px;
	color: #64CCD4;
}
.vertical-icon>a:hover{
	color: #fff;
}
#header-vertical .vertical-bar{
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,.2);
}
.vertical-bar>ul>li>a{
	display: block;
	padding: 12px 0 12px 10px;
	font-size: 18px;
	color: #5D6864;
	width: 100%;
}
.vertical-bar>ul>li>a:hover{
	color: #48a4cf;
	background-color: #d8d8d8;
}
#header-search{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 95;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	-ms-transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
}
#header-search>input{
	width: 100%;
	padding: 15px;
	font-size: 18px;
	border: 0;
	color: #d44;
	background-color: rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
/*页面中部*/
.container{
	width: 1000px;
	margin: 0 auto;
}
.container .index-main{
	width: 100%;
	margin-top: 110px;
	z-index: 94;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.1s ease-out 0s;
	-moz-transition: all 0.1s ease-out 0s;
	-ms-transition: all 0.1s ease-out 0s;
	-o-transition: all 0.1s ease-out 0s;
}
/*页面底部*/
.footer{
	margin-top: 50px;
	padding: 35px 0;
	text-align: center;
	font-size: 15px;
	color: #999;
	background-color: #fff;
	text-shadow: .2px .2px 1px rgba(0,0,0,.2);	
}
.footer>p{
	margin-bottom: 8px;
}
.footer a{
	font-size: 15px;
	color: #b8aef5;
}
.footer a:hover{
	color: #255;
}





/*首页样式*/
.index-main .index-block{
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.index-block>header{
	margin-bottom: 15px;
	padding: 20px 20px 0 20px;
}
.index-block>header>a{
	color: #607D7D;
	font-size: 20px;
}
.index-block>header>a:hover{
	color: #7FB9F2;
}
.index-block>section{
	margin-bottom: 15px;
	padding: 0 20px;
	font-size: 15px;
	color: #6B9090;
}
.index-block .index-block-footerView{
	border-top: 1px dashed #ccc;
	padding: 0 20px 20px 20px;
	padding-top: 6px;
    font-size: 13px;
	color: #999;
}
.index-block>footer>a,
.index-block>footer>span,
.index-block>footer>time{
	font-size: 13px;
	color: #999;
}
.index-block-footerHidden{
	display: none;
}
/*分页按钮*/
.paging ol{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.paging>ol>li{
	float: left;
	margin: 0 5px;
}
.paging a{
	margin-top: 8px;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.paging .current a{
	display: block;
	padding:8px 12px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	font-weight: bold;
	background-color: #6cd5ce;
}
.paging li span{
	display: block;
	margin-top: 12px;
	color: #6A747E;
	font-weight: bold;
}
.paging li a{
	display: block;
	padding:8px 12px;
	color: #6A747E;
	font-weight: bold;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
}
.paging .next a,
.paging .prev a{
	display: block;
	padding: 8px;
	color: #b5cef5;
	font-size: 16px;
	background-color: #fff;
	font-weight: bold;
}
.paging li a:hover,
.paging .next a:hover,
.paging .prev a:hover{
	background-color: #6cd5ce;
	color: #fff;
	font-weight: bold;
}

/*文章页样式*/
.index-main .post-block{
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.post-block>header{
	padding: 40px;
	padding-bottom: 0px;
	margin-bottom: 15px;
	text-align: center;
}
.post-block>header>p{
	font-size: 22px;
	color: #328181;
	font-weight: normal;
	text-shadow: 1.5px 1.5px 2px rgba(0,0,0,.3);
}
.post-block>header>.post-block-info{
	/*color: #8cc2e4;*/
	color: #659285;
	font-size: 13px;
	text-align: left;
	margin-top: 15px;
	padding: 8px 0;
	border-bottom: 1px dashed #ccc;
}
.post-block-info,a{
	color: #659285;
	font-size: 13px;
}
.post-block-info,span{
	color: #8cc2e4;
}
.post-block>section{
	padding: 5px 40px;
	margin-bottom: 15px;
	font-size: 16px;
	color: #77817F;
	line-height: 28px;
}
.post-block>section> pre{
	white-space: pre-wrap;
	overflow: auto;
}
code,
.post-block>section>pre>code{ 
	padding:10px; 
	margin: 8px 0;
	display:block;
	color: #677A7A; 
	font-size:15px;
	border-radius: 2px;
	overflow: auto;
	overflow-Y:hidden;
	background: #E0F4F6;
}
.post-block>section img{
	display: block;
	margin: 10px auto;
	width: 100px;
	min-width: 100%;
	box-shadow: 1px 0 1 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 1 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 0 1 1px rgba(0,0,0,.2);
	-ms-box-shadow: 1px 0 1 1px rgba(0,0,0,.2);
	-o-box-shadow: 1px 0 1 1px rgba(0,0,0,.2);
}
.post-block>footer{
	padding: 0 40px;
	margin-top: 15px;
	font-size: 16px;
	color: #666;
}
.footer-hr{
	border-top: 1px dashed #ccc;
	padding: 15px 0;
}
.post-copy{
	padding: 8px;
	color: #659285;
	border: 1px solid #5fbaad;
	border-left: 5px solid #5fbaad;
	margin-bottom: 20px;
	font-size: 15px;
}
.post-copy>a{
	color: #24aff0;
	font-size: 15px;
}
.post-share-text{
	color: #f03535;
	font-size: 18px;
}
.post-share>a{
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #13ADCE;
	margin: 5px;
}
.post-share>a:hover{
	background-color: #fff;
	color: #13ADCE;
}
/*文章页上一篇与下一篇*/
.post-more{
    margin-top: 20px;
}
.post-more>ul>li{
    margin-top: 10px;
    font-size: 17px;
    color: #666;
}
.post-more>ul>li>span{
    color: #659285;
    font-size: 16px;
    text-decoration: line-through;
}
.post-more>ul>li>a{
    font-size: 16px;
    color: #24aff0;
}
/*评论区*/
.post-block>.comments{
	padding: 40px;
	padding-top: 0px;
	margin-top: 15px;
	font-size: 16px;
	color: #666;
}
#comments {
	margin-top: 35px
}

#comments .comments-title {
	color: #255;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: normal
}

#comments .page-navigator {
	margin: 1rem 0 0
}

#comments a {
	color: #aaa
}

#comments a:hover {
	color: #f08f00
}

.comment-list {
	padding-left: 0;
	list-style-type: none;
	margin: 0
}

.avatar {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin: 1.4rem 1rem 0 0;
	border-radius: 50%
}

.response {
	color: #999;
	font-weight: 400;
	font-size: .9rem
}

.comment-num {
	color: #999;
	font-weight: 400;
	font-size: .9rem
}

.comment-main {
	overflow: hidden;
	padding: 1rem 0;
	border-bottom: 1px dotted #e0e0e0
}

.comment-main p {
	margin: 0
}

.comment-meta,.cancel-comment-reply {
	font-size: .8rem;
	margin-top: 1rem;
	color: #aaa
}

.comment-meta .comment-reply {
	float: right
}

.comment-reply {
	float: right;
	display: none
}

.comment-main:hover .comment-reply {
	display: block
}

.comment-author {
	padding: .1rem .25rem;
	border-radius: .25rem;
	background: #eee;
	font-size: .7rem
}

.comment-author:hover,.comment-author:hover a,.comment-author a:hover {
	color: #f08f00!important;
	background: rgba(255,152,0,0.1)
}

.comment-time:before,.comment-reply a:before {
	margin: 0 .5rem
}

.comment-parent>.comment-children {
	margin-left: 1rem;
	padding-left: 40px
}

.form-control {
	height: 20px;
	margin: 15px 0;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px
}

.form-control,output {
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	display: block
}

.form-control:focus {
	border-color: #f77b83;
	outline: 0
}

textarea.form-control {
	width: 600px;
	height: 10rem;
	resize: none
}

.submit {
	border: 1px solid #ccc;
	line-height: 36px;
	text-align: center;
	height: 36px;
	padding: 0 25px;
	margin: 0 auto;
	display: block;
	border-radius: 4px;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	background-color: #fff;
	color: #999
}

.submit:hover,.submit:focus,.submit:active,.submit:active:focus {
	color: #f77b83;
	border-color: #f77b83;
	outline-style: none
}
/*独立页面*/
.index-main .page-block{
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.page-block>header{
	padding: 40px;
	padding-bottom: 0px;
	margin-bottom: 15px;
	text-align: center;
}
.page-block>header>p{
	font-size: 22px;
	color: #328181;
	font-weight: normal;
	text-shadow: 1.5px 1.5px 2px rgba(0,0,0,.3);
}
.page-downhr{
	border-top: 1px dashed #ccc;
	padding: 8px 0;
}
.page-uphr{
	border-bottom: 1px dashed #ccc;
	padding: 8px 0;
}
.page-text-main{
	padding: 40px;
	padding-top: 10px;
	font-size: 16px;
	color: #77817F;
	line-height: 28px;
}
/*archive页面*/
.index-main .archive-block{
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.archive-block>.archive-info{
	padding: 20px 40px;
	color: #666;
	font-size: 18px;
}
.archive-block>.archive-info>span{
	color: #d7d;
}
.archive-block-no{
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.archive-block-no>section{
	padding: 40px;
	color: #666;
	font-size: 20px;
	text-align: center;
}
.index-main .error-block{
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-ms-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}
.error-info{
	padding: 40px;
	text-align: center;
	color: #666;
	font-size: 20px;
}
.error-info>p{
	margin-bottom: 20px;
	font-size: 45px;
	color: red;
	font-weight: bold;
}


/*响应式布局开始*/
/*屏幕宽度小于1060px*/
@media screen and (max-width: 1060px){
.container{
	width: 95%;
}
.header-cross{
	margin: 0 10px;
}
#weixin,
#commenting,
#top{
	right: 30px;
}
}
@media screen and (max-width: 760px){
textarea.form-control{
    width: 95%;
}
}
/*屏幕宽度小于360px*/
@media screen and (max-width: 360px){
#weixin,
#commenting,
#top{
	display: none;
}
#top{
	bottom: 50px;
	right: 20px;
	font-size: 15px;
	color: #fff;
	background: #f56565;
}
.header-cross{
	margin: 0 8px;
}
.cross-title>a{
	font-size: 18px;
}
#header-vertical{
	width: 75%;
}
#header-search>input{
	font-size: 16px;
}
.container .index-main{
	margin-top: 90px;
}
.index-main .index-block,
.index-main .post-block,
.index-main .page-block,
.index-main .archive-block,
.index-main .error-block{
	margin-bottom: 20px;
}
.index-block>header,
.post-block>header{
	margin-bottom: 15px;
	padding: 10px 10px 0 10px;
}
.post-block-info{
	display: none;
}
.index-block>header>a{
	font-size: 18px;
}
.index-block>section{
	margin-bottom: 15px;
	padding: 0 10px;
	height: 40px;
	overflow: hidden;
}
.post-block>footer{
	padding: 0 10px;
}
.index-block-footerHidden{
    display: block;
	border-top: 1px dashed #ccc;
	padding: 10px;
	padding-top: 6px;
}
.index-block-footerView{
	display: none;
}
.post-block>header>p{
	font-size: 20px;
	color: #328181;
	text-shadow: none;
}
.post-block>section{
	padding: 0 15px;
	font-size: 15px;
	line-height: 26px;
}
.post-block>section>pre>code{
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
}
.post-share-text{
	font-size: 15px;
}
.post-share>a{
	line-height: 28px;
	font-size: 12px;
	width: 26px;
	height: 26px;
}
.footer{
	font-size: 12px;
	margin-top: 25px;	
}
.footer a{
	font-size: 12px;
	color: #b8aef5;
}
}
/*屏幕宽度小于250px*/
@media screen and (max-width: 250px){
#weixin,
#commenting,
#top{
	display: none;
}
.cross-title{
	display: none;
}
textarea.form-control,
.form-control{
    width: 95%;
}
}